@*<h1>Ask a Question</h1>
<p>Submit any food-related questions or suggestions here. Dale and Bonnie will post responses below.</p>
<textarea class="submit-question-text" type="text"></textarea>
<button type="button" class="submit-question-button btn btn-danger">Primary</button>*@
<div class="success-message alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Your question has been sent to Dale and Bonnie!
</div>
<div class="form-group">
    <div class="ask-question-header"><h4>Ask a question to food@apt</h4></div>
        <textarea class="form-control-textarea" rows="3" id="question-message" placeholder="Submit any food-related questions or suggestions here. Responses will be posted here."></textarea>
        <button type="button" class="submit-question-button btn btn-block btn-primary">Ask</button>
</div>

@*
<div>
	<h1>Responses from Bonnie and Dale</h1>
	@foreach (var answer in postedAnswers)
	{

		<div class="panel panel-default">
			<div class="panel-heading">@answer.Question.QuestionText</div>
			<div class="panel-body">
				@answer.AuthorName (@answer.DateSubmitted) @answer.Message
			</div>
		</div>
	}
	<nav>
		<ul class="pager">
			<li><a href="#">Previous</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</nav>
</div>
*@