@{
    ViewData["Title"] = "About HNGRY";
}

<div class="row">
    <div class="col-md-1"></div>

    <div class="about-text col-md-6">
        <h2>@ViewData["Title"]</h2>
        <p>
            HNGRY is the new way for everyone in the DC office to stay informed about food options in the kitchen. With an up to the minute feed
            of food in the kitchens and the ability to ask questions to Dale and Bonnie, you can stay up to date on the latest snacks, meals, and
            treats!
        </p>
        <p>Hack & Learn 8 project by Alex Smith, Brad Stankey, Kevin Ngo, and Sean Walsh</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-1"></div>
</div>
