@{
	ViewData["Title"] = string.Empty;
    var postedAnswers = (List<PostedAnswer>)ViewData["PostedAnswers"];
    var postedAnswers2 = (List<PostedAnswer>)ViewData["PostedAnswers2"];
}

@section Styles {
	<link rel="stylesheet" href="~/css/app.css" />
	<link rel="stylesheet" href="~/css/foodFeed.css" />
}

@section Scripts {
	<script src="~/js/app.js" asp-append-version="true"></script>
	<script src="~/js/foodFeed.js" asp-append-version="true"></script>
	<script src="~/js/questionSubmission.js" asp-append-version="true"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            @await Html.PartialAsync(@"../Partials/_FoodFeed")
        </div>
        <div class="col-md-4">
            <div>
                @await Html.PartialAsync(@"../Partials/_Calendar")
            </div>

            <div>
                @await Html.PartialAsync("../Partials/_QuestionSubmission")
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>