@using System.Threading.Tasks
@using HNGRY.ViewModels

@{
}

@section Styles {
	<link rel="stylesheet" href="~/css/app.css" />
	<link rel="stylesheet" href="~/css/foodFeed.css" />
    <link rel="stylesheet" href="~/css/questionSubmission.css" />
}

@section Scripts {
	<script src="~/js/app.js" asp-append-version="true"></script>
	<script src="~/js/foodFeed.js" asp-append-version="true"></script>
	<script src="~/js/questionSubmission.js" asp-append-version="true"></script>
    <script src="~/js/foodSubmission.js" asp-append-version="true"></script>
}


<div class="container-fluid body-wrapper">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            @await Html.PartialAsync(@"../Partials/_FoodFeed")
        </div>
        <div class="col-md-4">
            <div>
                @await Html.PartialAsync(@"../Partials/_Calendar")
            </div>

	        <div>
		        @await Html.PartialAsync("../Partials/_QuestionSubmission")
	        </div>

			<div>
				@await Html.PartialAsync("../Partials/_QuestionAnswers", (PostedAnswersViewModel)this.ViewData["PostedAnswersViewModel"]);
			</div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>